/* header styling */
header {
 
    width: 100%;
    height: 10%;
    background-color: #3f87a6;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-content: center;
   
}

header h1 {
    display: flex;
    justify-content:left;
    align-content: center;
    padding-bottom: 20px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
  }

  nav a {
    display: flex;
    justify-content: right;
    padding: 10px;
    text-decoration: none;
    color: white;
  }

/* The banner below the header with image and title */
.banner {
    display: flex;
    width:100%;
    padding: 1%;
    height: 10%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    align-content: center;
    justify-content: center;

}

.banner p{
    color:black;
    font-size: x-large;
    padding: 5px;
}  
 
/* Main content of the website */
main{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.aboutme {
    display: flex;
    flex-wrap:wrap;
    padding: 1%;
    width: 100%;
    height: 30%;
}

.aboutme-header{
    width: 18%;
    font-size:x-large;
    border-right: 2px solid #3f87a6;
    padding: 0 4% 0 4%;
}

#profile {
    width: 80%;
}

.aboutme-details {
    flex: 0 1 60%;
    flex-wrap: wrap;
    line-height: 2.0;
    margin-left: 20px;
    font-size: large;
    
}
/* All the stylying for the About Me section */
#work {
    display: flex;
    flex-wrap:wrap;
    padding: 1%;
    width: 100%;
    height: 30%;

}

.work-header{
    width: 18.5%;
    font-size:large;
    border-right: 2px solid #3f87a6;
    padding: 0 3.5% 0 4%;
    margin:0;

}

.work-details {
    flex: 0 0 60%;
    flex-wrap: wrap;
    line-height: 1.5;
    margin-left: -10px;
        
}
.container {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }

/* Prework:About Me Card */

.card1 img {
    width: 100%;
    height: 175px;
}

/*Landing Page card*/


.card2 img {
    width:100%;
    height: 175px;
}

/*Semantic Tagging Card Page card*/


.card3 img {
    width:100%;
    height: 175px;
}
/* All the styling for the Contacts in the Footer */

#contact{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #3f87a6;
    display: flex;
    justify-content: center;
    padding: 1%;
    align-content: center;
}

/* Media Query Information */


    
@media screen and (max-width:800px){
    .aboutme {
        flex-direction: column;
    }
    #profile{
        width: 80%;
    }
    .aboutme-header{
        border-right: none;
        border-bottom: 2px solid #3f87a6;
        width: unset;
        padding-bottom: 5%;
        }   
    #work {
        flex-direction: column;
    }
    .work-header{
        border-right: none;
        border-bottom: 2px solid #3f87a6;
        margin-bottom: 5px;
        width: unset;
    } 
    }


    

